:root {
  // Colors
  --black: #000000;
  --blue: #141472;
  --blue-dark: #073763;
  --cyan: #82f1d7;
  --cyan-faded: #ddf8f1;
  --cyan-dark: #457568;
  --gray: #2a2a2a;
  --gray-dark: #1a1a1a;
  --gray-light: #eeeeee;
  --white: #ffffff;
  --white-faded: #dcdcdc;

  // Fonts
  --text-font: "Open Sans", sans-serif;
  --title-font: "Century Gothic Pro", sans-serif;

  // Sizing
  --max-width: 1200px;
  --padding-header: 10px;
  --padding-page: 20px;
}
