@use "fonts";
@use "vars";

html,
body {
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  white-space: pre-line;

  & * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin-top: 0;
}

h1,
h2 {
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: 0;

  a {
    text-decoration: underline;
  }
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.swiper.swiper--stories {
  .swiper-slide {
    opacity: 0 !important;
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }
}

.swiper-pagination {
  bottom: auto;
  display: flex;
  gap: 10px;
  height: 1rem;
  top: 0;

  .swiper-pagination-bullet {
    background: white;
    border-radius: 99px;
    flex: auto;
    height: 6px;
    margin: 0 !important;
    opacity: 0.3;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}


